<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <head>
    <head th:replace="common/libuser :: libheader"></head>
    <link rel="stylesheet" type="text/css" href="../css/stylemain.css">
  </head>
<body>
<div class="d-flex" id="wrapper">
  <div th:replace="common/navbar :: sidenav"></div>
  <div id="page-content-wrapper" class="w-100">
    <div th:replace="common/navbar :: topnav"></div>
    <div class="container-fluid py-4" id='mainpageadmin'>
      <table class="table" id="example">
        <thead>
        <tr>
          <th>Ảnh</th>
          <th>Họ tên</th>
          <th>Email</th>
          <th>Ngày sinh</th>
          <th>Số điện thoại</th>
          <th>Số căn cước</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${listRes}">
          <td><img th:src="${c.image}" class="imgtable"></td>
          <td th:text="${c.fullName}"></td>
          <td th:text="${c.email}"></td>
          <td th:text="${c.bod}"></td>
          <td th:text="${c.phone}"></td>
          <td th:text="${c.cic}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>