<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head>
        <head th:replace="common/libuser :: libheader"></head>
        <link rel="stylesheet" type="text/css" href="css/stylemain.css">
    </head>
<body>
<div class="d-flex" id="wrapper">
    <div th:replace="common/navbar :: sidenav"></div>
    <div id="page-content-wrapper" class="w-100">
        <div th:replace="common/navbar :: topnav"></div>
        <div class="container-fluid py-4" id='mainpageadmin'>
            <h4>Thông tin căn hộ của bạn</h4>
            <div class="col-sm-8">
                <table class="table">
                    <tr>
                        <th>Tên căn hộ</th>
                        <td th:text="${canHo.name}"></td>
                    </tr>
                    <tr>
                        <th>Số tầng</th>
                        <td th:text="'Tầng '+${canHo.floor}"></td>
                    </tr>
                    <tr>
                        <th>Diện tích</th>
                        <td th:text="${canHo.acreage}+' m2'"></td>
                    </tr>
                    <tr>
                        <th>Số thành viên</th>
                        <td><span th:text="${listRes.size()}"></span></td>
                    </tr>
                    <tr>
                        <th>Số phương tiện</th>
                        <td>
                            <i class="fa fa-car"></i> Ô tô: <span th:text="${xeOto}"></span> -
                            <i class="fa fa-motorcycle"></i> Xe máy: <span th:text="${xeMay}"></span> -
                            <i class="fa fa-bicycle"></i> Xe đạp: <span th:text="${xeDap}"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Phí gửi xe</th>
                        <td><span class="price" th:text="${tongPhiXe}"></span> /tháng</td>
                    </tr>
                    <tr>
                        <th>Phí dịch vụ căn hộ (13.000đ/ m2)</th>
                        <td><span class="price" th:text="${canHo.acreage * 13000}"></span> /tháng</td>
                    </tr>
                </table>
            </div>
            <h4 style="margin-top: 50px">Thông tin cư dân trong căn hộ <span th:text="${canHo.name}"></span></h4>
            <table class="table" id="example">
                <thead>
                    <tr>
                       <th>Ảnh</th>
                       <th>Họ tên</th>
                       <th>Email</th>
                       <th>Ngày sinh</th>
                       <th>Số điện thoại</th>
                       <th>Số căn cước</th>
                       <th>Chủ căn hộ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="c : ${listRes}">
                        <td><img th:src="${c.image}" class="imgtable"></td>
                        <td th:text="${c.fullName}"></td>
                        <td th:text="${c.email}"></td>
                        <td th:text="${c.bod}"></td>
                        <td th:text="${c.phone}"></td>
                        <td th:text="${c.cic}"></td>
                        <td><i th:if="${c.isHouseholdHead == true}" class="fa fa-check iconcheckbold"></i></td>
                    </tr>
                </tbody>
            </table>
            <h4 style="margin-top: 50px">Thông tin phương tiện</h4>
            <a href="/dangkyphuongtien" class="btn btn-primary">Đăng ký thêm phương tiện</a>
            <span class="luuythongtin">Lưu ý (Mỗi hộ dân chỉ được đăng ký 1 xe ô tô),
                Phí gửi ô tô: <span class="price" th:text="${phiOTo}"></span> /tháng,
                phí gửi xe máy: <span class="price" th:text="${phiXeMay}"></span>/tháng,
                xe đạp: <span class="price" th:text="${phiXeDap}"></span></span>
            <br><br>
            <table class="table" id="examples">
                <thead>
                <tr>
                    <th>Biển số xe</th>
                    <th>Loại phương tiện</th>
                    <th>Xóa</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${listVeh}">
                    <td th:text="${c.licensePlate}"></td>
                    <td th:if="${c.vehicleType == 2}"><i class="fa fa-car"></i> Ô tô</td>
                    <td th:if="${c.vehicleType == 1}"><i class="fa fa-motorcycle"></i> Xe máy</td>
                    <td th:if="${c.vehicleType == 0}"><i class="fa fa-bicycle"></i> Xe đạp</td>
                    <td>
                        <a class="delete-btn" th:href="@{delete-vehicle(id=${c.id})}" onclick="return confirm('Bạn có chắc chắn muốn xóa phương tiện này?');"><i class="fa fa-trash iconaction" ></i></a>
                        <a class="edit-btn" th:href="@{dangkyphuongtien(id=${c.id})}"><i class="fa fa-edit iconaction" ></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script>
    $('#example').DataTable();
    $('#examples').DataTable();
</script>
</html>